<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="name">Adivina el número secreto</label>
        <input type="text" name="clave" id="clave">
        <input type="submit" value="validar">
    </form>    
</body>
</html>